# FastAPI y servidor
fastapi==0.109.0
uvicorn[standard]==0.27.0
gunicorn==21.2.0
python-multipart==0.0.6

# Supabase (cliente oficial)
supabase==2.0.3

# Validación y settings
pydantic==2.5.3
pydantic-settings==2.1.0
email-validator==2.1.0

# Excel
openpyxl==3.1.2

# Utilidades
python-dotenv==1.0.0
requests== 2.32.5
pytest == 9.0.2